<html>
  <head>
    <!-- General Settings -->
    <meta charset="utf-8">
    <meta http-equiv="content-language" content="en-us">
    <base href="{global.baseUrl}" />

    <!-- Meta Tags -->
    <title>Pizza Delivery</title>
    <meta name="description" content="Best pizza delivery in the world">

    <!-- Static Assets -->
    <link type="image/x-icon" rel="icon" href="favicon.ico">
    <script type="text/javascript" charset="utf-8" src="public/app/js/index.js"></script>
    <script type="text/javascript" charset="utf-8" src="public/app/js/forms.js"></script>
    <script type="text/javascript" charset="utf-8" src="public/app/js/xhr.js"></script>
    <script type="text/javascript" charset="utf-8" src="public/app/js/session.js"></script>
    <link rel="stylesheet" type="text/css" href="public/app/css/styles.css" />

  </head>
  <body class="body notLogged">
    <!-- Header -->
    <div class="header">
      <div class="helloUser loggedIn"></div>
      <!-- Logo -->
      <a class="logo" href="/">
        <img src="public/logo.png" alt="Logo" />
      </a>
      <!-- Navigation -->
      <ul class="menu">
        <li><a href="/">Home</a></li>
        <li class="loggedOut"><a href="/account/create">Signup</a></li>
        <li class="loggedOut"><a href="/account/login">Login</a></li>
        <li><a href="/menu">Menu</a></li>
        <li class="loggedIn"><a href="#" id="logoutButton">Logout</a></li>
      </ul>
    </div>
    <!-- Main Content -->
    {$doc.body}
    <!-- Footer -->
    <div class="footer">
      <div class="copyright">Copyright MyWork | All Rights Reserved</div>
    </div>
  </body>
  <!-- <script type="module" src="public/app/js/index.js"></script> -->
</html>
